.competences {
    
    .knowledgesContent{
        min-height: $minHeight;
        width: 100%;
        position: relative;
        overflow: hidden;
        display: grid;
        // 3 colonnes: 38%, 1fraction / 1fraction
        grid-template-columns: 38% 1fr 1fr;
        // 2 lignes
        grid-template-rows: 70% 30%;
        // la grille: disposition des lignes
        grid-template-areas:
            " L E E"  //1ér line => "lang"- "exper"- "exper"
            "O O H"  //2éme line: "other" -"other" - "hobby"
        ;

        .langagesFrameworks, .experience, 
        .otherSkills, .hobbies {
            background: $color-2;
            border-radius: $borderRadius;
            padding:  0.8rem;
        }
        h3{
            font-size: 1.4rem;
            margin-bottom: 1rem;
            font-family: $font-2;
            color: $color-5;
            text-transform: uppercase;
        }

     //On va dire quel élément prend quelle zone
        // Partie "Laguages": la zone => "L"
        .langagesFrameworks {
            grid-area: L;
            margin-bottom: 0.5rem;
            display: grid;
            // 1 colonnes: 
            grid-template-columns: 1fr;
            // 2 lignes
            grid-template-rows: 1fr 1fr;
            // la grille: disposition des lignes
            grid-template-areas: 
                "L"   //pour 'language'
                "F"   //"frameworks"
            ;

            .languageDisplay {
                grid-area: L;
            }
            .frameworksDisplay{
                grid-area: F;
            }

            // composant "ProgressBar"
            .years{
                font-size: 0.75rem;
                display: flex;
                justify-content: space-between;
                color: $white;
                margin-bottom: 1rem;

                span{
                    width: 36%;

                    &:nth-child(2) {   //"1 an"
                        text-align: right;
                        width: 20%;
                    }
                    &:nth-child(3) {   //"2 an"
                        text-align: right;
                        width: 44%;
                    }

                    &:nth-child(2):before,
                    &:nth-child(3):before {
                        content: "";
                        background: rgba(180, 179, 179, 0.5);
                        position: absolute;
                        height: 146px;
                        width: 1px;
                        // axeX = 9px;  axeY = 19px
                        transform: translate(15px, 20px);
                    }
                }
            }

          //Partie rempissage "progressBar"
            .languageListe {
                padding-top: .5rem;

                li{
                    color: $color-1;
                }

                .progressBar {
                    height: 0.4rem;
                    background: transparent;
                    border-radius: 50px;
                    margin-top: 0.2rem;
                    position: relative;

                    &:after{
                        content: "";
                        position: absolute;
                        // couleur de remplissage
                        background: $color-3;
                        border-radius: 50px;
                        height: 0.4rem;
                        width: 0;
                        // anim: "nom" , duration, .., 
                        // reste a la fin
                        animation: line 2s ease-out forwards;

                        @keyframes line {
                            to {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
      // Partie "experience"
        .experience {
            grid-area: E;
            margin: 0 0 .5rem .5rem;          
            display: flex;
            flex-direction: column;
                       
            .exp-1 {
                margin-bottom: 2rem;
                h3 {
                    font-size: 1.4rem;
                }
                h4 {
                    font-size: 1rem;
                    color: $color-5;
                }
                ul{
                    padding: 6px 30px;
                    li{
                        font-size: 1rem; 
                        list-style-type: disc;
                    }
                }
            }
            .exp-2 {
                h3 {
                    font-size: 1.4rem;
                    margin-bottom: 12px;
                }
                ul{
                    padding: 6px 30px;
                    li{
                        list-style-type: disc;
                        font-size: 1rem;                        
                    }
                }
            }
        }

     //Partie "OtherSkills"
        .otherSkills {
            grid-area: O;
            margin-right: 0.5rem;
            display: flex;
            flex-direction: column;
    
            h3 {
                font-size: 1.4rem;
            }
            h4 {
                font-size: 1rem;
                color: $color-5;
            }
            ul{
                padding: 6px 30px;
                li{
                    font-size: 1rem; 
                    list-style-type: disc;
                }
            }           
        }

      // Partie "Hobbies"
        .hobbies {
            grid-area: H;
            padding-left: 1.5rem;
    
            ul {
                height: 80%;
                display: grid;
        
                li {
                    i {
                        position: absolute;
                        color: $color-5;
                    }
                    span {
                        position: absolute;
                        transform: translateX(2.2rem);
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 976px){
    .knowledgesContent {
        h3 {
            font-size: 1.2rem !important;
        }
        .languagesList {
            padding-top: .2rem !important;
        }
        p {
            font-size: .8rem;
        }
        .otherSkills, .hobbies {
            font-size: .8rem;
        }
    }
    .experience {
        .exp-1 {
            margin-bottom: 1.4rem !important;
            h3 {
                font-size: 1.2rem;
                margin-bottom: 12px;
            }
            h4 {
                font-size: .9rem !important;
            }
            ul{
                li{
                    font-size:0.9rem !important; 
                }
            }
        }
        .exp-2 {
            h3 {
                font-size: 1.2rem;
                margin-bottom: 12px;
            }
            h4 {
                font-size: .9rem !important;
            }
            ul{
                li{
                    font-size: 0.9rem !important; 
                }
            }
        }
    }
}
@media screen and (max-width: 768px){
    .knowledgesContent {
        h4 {
            font-size: .9rem !important;
        }
        h5 {
            font-size: .6rem !important;
            padding: .2rem 1rem !important;
        }
    }
    .experience {
        .exp-1 {
            margin-bottom: 1.2rem !important;
            h3 {
                font-size: 1.1rem !important;
            }
            h4 {
                font-size: 0.8rem !important;
            }
            ul{
                padding: 6px 28px;
                li{
                    font-size: 0.8rem !important; 
                }
            }
        }
        .exp-2 {
            // margin-bottom: 1.2rem !important;
            h3 {
                font-size: 1.1rem !important;
            }
            h4 {
                font-size: 0.8rem !important;
            }
            ul{
                padding: 6px 28px;
                li{
                    font-size: 0.8rem !important; 
                }
            }
        }
    }
    .otherSkills {
        h3 {
            font-size: 1.2rem !important;
        }
        h4 {
            font-size: 0.8rem !important;
        }
        ul{
            padding: 6px 28px;
            li{
                font-size: 0.8rem !important; 
            }
        }           
    }
}
@media screen and (max-width: 650px){
    .knowledgesContent {
        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 180px 180px !important;
        
        .languages {
            grid-area: 1 !important;
        }
        .experience {
            grid-area: 2 !important;
            margin-left: 0 !important;
        }
        .otherSkills {
            grid-area: 3 !important;
            margin-right: 0 !important;
        }
        .hobbies {
            grid-area: 4 !important;
            margin-top: .5rem !important;
        }
    }
}